[2016-07-30 10:35] krishnandusarkar opened #1 "Getting more done in GitHub with ZenHub"
Hola! @krishnandusarkar has created a [ZenHub](http://www.zenhub.com) account for the **krishnandusarkar** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?ut

[2016-07-30 10:46] #1 closed

[2016-07-30 12:04] krishnandusarkar opened #2 "Change Current Theme to Responsive Slide Menu Theme"

[2016-07-30 12:07] krishnandusarkar opened #3 "Fix jqGrid Issues"
1. Make the grid responsive
2. Change the Edit href's to read "Edit" instead of jumbled ID's
3. Shift the Edit column to the end
4. Add a checkbox column with the header "Delete" in the front of all the rows
5. Add a "Delete" button at the end of the grid on the right hand side.
6. The delete should take a confirmation message before deleting the selected rows.

[2016-08-07 04:36] krishnandusarkar opened #4 "iOS : Improve the Responsiveness of all the screens"

[2016-08-07 04:37] krishnandusarkar opened #5 "iOS : Change the long title: "Select a Category/Point value from among the categories' to: "Select a Category & Points Value""

[2016-08-07 04:43] krishnandusarkar opened #6 "Android : Change the long title: "Select a Category/Point value from among the categories' to: "Select a Category & Points Value""
Select A Category Screen

[2016-08-07 04:44] krishnandusarkar opened #7 "iOS : Change 'Please try a different category and/or difficulty' for 'Please try a different category and/or points value'"
Select A Category Screen

[2016-08-07 04:44] krishnandusarkar opened #8 "Android : Change 'Please try a different category and/or difficulty' for 'Please try a different category and/or points value'"
Select A Category Screen

[2016-08-07 04:46] krishnandusarkar opened #9 "iOS : Change 'Locate and Scan another QR Code' for 'Locate and Scan a QR Code'"
Screen : Ready To Scan

[2016-08-07 04:47] krishnandusarkar opened #10 "Android : Change 'Locate and Scan another QR Code' for 'Locate and Scan a QR Code'"
Screen : Ready To Scan

[2016-08-07 04:48] krishnandusarkar opened #11 "iOS : Change 'QR Code is successfully scanned' for 'QR Code successfully scanned'"
Screen : Scan Successfull

[2016-08-07 04:48] krishnandusarkar opened #12 "Android : Change 'QR Code is successfully scanned' for 'QR Code successfully scanned'"
Screen : Scan Successfull

[2016-08-07 04:56] krishnandusarkar opened #13 "Remove Team Number From Team Registration > Team Creation. Make It Auto Incremental"
If we already have Auto Incremental field, use that field instead. In that case there's no need to use Team Number field.

[2016-08-07 04:58] krishnandusarkar opened #14 "Update And Cancel Button for Edit"
Across all the edit pages, there should be one button Update (green) and Cancel (grey) which should take to the entry page.

[2016-08-07 04:59] krishnandusarkar opened #15 "Edit Team Summary : Title Should Read "UPDATE TEAM INFORMATION""

[2016-08-07 05:01] krishnandusarkar opened #16 "Change Menu Name From "Pre-Race Check In" To "Participants Not Checked-In""

[2016-08-07 05:07] krishnandusarkar opened #17 "Change "ALL TEAM MEMBERS ARE CHECHED IN" To "ALL TEAM MEMBERS ARE CHECKED-IN""
Menu : Pre Race Check In

[2016-08-07 05:08] krishnandusarkar opened #18 "Change "Edit" To "Uncheck" with a confirmation message"
Manu : Pre-Race Check In

[2016-08-07 05:11] krishnandusarkar opened #19 "Separate Exhibitor Creation and Exhibitor Summary into two submenus under 'Exhibitors'"
Promote the current "Exhibitor Creation" to a submenu under "Exhibitors".  Change the name to "Exhibitor Registration"

Promote the current "Exhibitor Summary" to a submenu under "Exhibitors".  Change the name to "Exhibitor Summary"

[2016-08-07 05:12] krishnandusarkar opened #20 "Change The Title To "UPDATE EXHIBITOR REGISTRATION" For Exhibitor Edit"

[2016-08-07 05:14] krishnandusarkar opened #21 "A footnote should indicate: "Enter an integer number from 1 to 100" under "Question Value" field"
Screen : Difficulty Level Creation

[2016-08-07 05:14] krishnandusarkar opened #22 ""HINT PENALTY POINTS" to "Hint Penalty Points""
Screen : Difficulty Level Creation

[2016-08-07 05:16] krishnandusarkar opened #23 "Change the heading to 'Category Sponsor Input'"
Screen : Category Sponsor Creation

[2016-08-07 05:19] krishnandusarkar opened #24 "Change 'Question Creation' to 'Question Options'. Change 'Questions in rectangle' to 'Question Set Up'"
Screen : Questions

[2016-08-07 05:21] krishnandusarkar opened #25 "Change "Correct Answers" To "Correct Answer""
Screen : Question Creation

[2016-08-07 05:32] krishnandusarkar opened #26 "iOS : Change 'Return' at the bottom for 'Home' under Team Status"

[2016-08-07 05:33] krishnandusarkar opened #27 "iOS : Change 'Press once to eliminate one choice' for 'Press to eliminate one choice' Under Hint Button on Questions Screen"

[2016-08-07 05:33] krishnandusarkar opened #28 "Android : Change 'Press once to eliminate one choice' for 'Press to eliminate one choice' Under Hint Button on Questions Screen"

[2016-08-07 05:34] krishnandusarkar opened #29 "Android : Change 'Return' at the bottom for 'Home' under Team Status"

[2016-08-07 05:36] krishnandusarkar opened #30 "iOS : Change in Category Screen"
1. Points should be aligned (centered) with the dots below.
2. 'Category' title should be left-aligned with the names of the categories below

[2016-08-07 05:36] krishnandusarkar opened #31 "Android : Change In Category Screen"
1. Points should be aligned (centered) with the dots below.
2. 'Category' title should be left-aligned with the names of the categories below

[2016-08-08 06:52] debasishbanerjee commented on #25
Done

[2016-08-08 06:55] debasishbanerjee commented on #24
Done

[2016-08-08 06:57] debasishbanerjee commented on #23
Done

[2016-08-08 07:00] debasishbanerjee commented on #22
Done

[2016-08-08 07:02] debasishbanerjee commented on #21
Done

[2016-08-08 07:25] debasishbanerjee commented on #20
Done

[2016-08-08 07:52] debasishbanerjee commented on #14
Done

[2016-08-09 04:58] krishnandusarkar opened #32 "SPE Grid Partially Working / Broken"
I think you copied over the participants summary over all pages. Now Team Assignment, Exhibitor Summary all shows the same Participants Summary grid.

Either keep as it was if it cannot be completed within 16th, else fix the thing.

Because if you are updating an feature, it cannot be shared as partially working / broken for review.

So either update it completely else keep as it was in that case

[2016-08-09 05:00] krishnandusarkar commented on #21
Working Fine.

[2016-08-09 05:00] #21 closed

[2016-08-09 05:02] krishnandusarkar commented on #20
No way to edit exhibitors. Testing of this enhancement is blocked.

![image](https://cloud.githubusercontent.com/assets/3623328/17505110/84f67930-5e1c-11e6-9fd0-79bcfe35f07c.png)

[2016-08-09 05:03] krishnandusarkar commented on #22
Working Fine.

[2016-08-09 05:03] #22 closed

[2016-08-09 05:14] krishnandusarkar commented on #23
Working Fine.

[2016-08-09 05:14] #23 closed

[2016-08-09 05:15] krishnandusarkar commented on #25
Working Fine.

[2016-08-09 05:15] #25 closed

[2016-08-09 05:15] krishnandusarkar commented on #24
Working Fine.

[2016-08-09 05:15] #24 closed

[2016-08-09 05:16] krishnandusarkar commented on #14
This needs to be done on all pages. Testing of this feature is blocked, as Edit functionality cannot be reached for all pages.

[2016-08-09 05:34] krishnandusarkar opened #33 "Video Questions"
We have QuestionImage (Long Blob) and ImageType (Varchar) in Questions Table to handle the current Image upload scenario.

We store the Image Blob in Question Image field and the type of the image (i.e. image/jpeg, image/png etc.) in ImageType field. Later we use this field to render the image in it's correct format at Web App, Android and iOS.

We'll reuse the same fields for Video. Please note t

[2016-08-13 07:42] krishnandusarkar opened #34 "Delete Issues"
**Participant Registration :** Perfectly Okay

**Team Registration :** Remove Row Wise Delete. Only Multi Delete via Checkbox will be there.

**Team Assignment Summary :** Delete seems to do nothing. Remove delete functionality, it's not needed.

**Pre Race Summary :** Edit seems to do nothing. Remove Edit, it's not needed. Rename Delete button to Uncheck.

**Exhibitor Summary :** Remove Row Wise

[2016-08-13 07:47] krishnandusarkar commented on #34
NOTE : On All Delete Functionality, please include a confirmation message "Are you sure want to delete the selected rows?" before deleting.

[2016-08-13 07:49] krishnandusarkar commented on #34
On Category Summary Search box is not aligned to right like grids in other pages.

[2016-08-13 07:52] krishnandusarkar opened #35 "Questions Summary Filter Selections Broken"
Filters in Question Summary is broken as seems not to be working.

[2016-08-13 08:00] krishnandusarkar opened #36 "Card Buttons Not Required"
Below shown buttons are not required in any of the pages. Please remove it from all pages.

![image](https://cloud.githubusercontent.com/assets/3623328/17642178/04393c06-615a-11e6-8dba-1df2232f40f2.png)

[2016-08-13 08:04] krishnandusarkar commented on #35
![image](https://cloud.githubusercontent.com/assets/3623328/17642187/3a1ba372-615a-11e6-9b63-5800a02c5acf.png)

The grid will be blank when loaded. On selection of the above filters the grid will be populated. This was working fine before the change to datatable.

Please note that either QuestionType + Category + Difficulty Level OR Exhibitor Questions can be selected.

That means, if user selects

[2016-08-13 08:07] krishnandusarkar opened #37 "Count And Count Title is Wrong In Questions Summary"
Under Questions Summary, the count and it's label displays "Number of Participants". The label should read "Number of Questions" and the count should the count of questions.

[2016-08-13 08:12] krishnandusarkar opened #38 "Delete Not Working In Any Pages"
Delete doesn't seems to work in any of the pages i.e. it's not actually deleting.

Not sure is this not completed yet or a bug.

[2016-08-13 08:39] krishnandusarkar commented on #2
Working Fine.

[2016-08-13 08:39] #2 closed

[2016-08-13 08:44] debasishbanerjee commented on #19
Done

[2016-08-13 08:48] krishnandusarkar commented on #19
Working Fine

[2016-08-13 08:48] #19 closed

[2016-08-13 12:02] debasishbanerjee commented on #38
Done.Check & Close

[2016-08-13 12:31] debasishbanerjee commented on #35
Done

[2016-08-13 12:31] debasishbanerjee commented on #37
Done

[2016-08-13 12:34] debasishbanerjee commented on #20
Done

[2016-08-13 12:46] debasishbanerjee commented on #36
Done

[2016-08-13 13:23] AmitabhaSaha commented on #27
Done

[2016-08-13 13:23] AmitabhaSaha commented on #26
Done

[2016-08-13 13:24] AmitabhaSaha commented on #11
Done

[2016-08-13 13:24] AmitabhaSaha commented on #9
Done

[2016-08-13 13:24] AmitabhaSaha commented on #7
Done

[2016-08-13 13:24] AmitabhaSaha commented on #5
Done

[2016-08-14 18:10] snowbreeze commented on #3
Not relevant any more

[2016-08-14 18:10] snowbreeze commented on #3
Done

[2016-08-14 18:11] snowbreeze commented on #13
Done

[2016-08-14 18:16] snowbreeze commented on #15
done

[2016-08-14 18:17] snowbreeze commented on #16
done

[2016-08-14 18:19] snowbreeze opened #39 "Remove Note in Tables"
Remove this note in all tables, as we now have edit button and delete option properly visible

* To Edit & Delete Please Click On The MemberID In The Edit Column.

[2016-08-14 18:20] snowbreeze commented on #17
done

[2016-08-14 18:20] snowbreeze opened #40 "Remove Note in Tables"
Remove this note in all tables, as we now have edit button and delete option properly visible

* To Edit & Delete Please Click On The MemberID In The Edit Column.

[2016-08-14 18:23] snowbreeze commented on #18
done

[2016-08-14 18:24] snowbreeze commented on #32
Fixed. Done

[2016-08-14 18:24] snowbreeze commented on #33
Implemented

[2016-08-14 18:26] snowbreeze commented on #36
edit/update pages still miss this

[2016-08-16 04:19] krishnandusarkar commented on #38
Working Fine.

[2016-08-16 04:19] #38 closed

[2016-08-16 04:20] krishnandusarkar commented on #37
Working Fine.

[2016-08-16 04:20] #37 closed

[2016-08-16 04:25] krishnandusarkar commented on #34
Below features still not working...

Team Assignment Summary : Delete seems to do nothing. Remove delete functionality, it's not needed.

Pre Race Summary : Delete not needed here. Remove delete functionality.

Questions Summary : Remove Row Wise Delete. Only Multi Delete via Checkbox will be there.

Results : Remove Delete. Delete functionality not needed here.

Global : Remove "* To Edit & Delet

[2016-08-16 04:27] krishnandusarkar commented on #35
Partially working. Below mentioned feature is still broken and thus filtered search functionality is broken too..

Please note that either QuestionType + Category + Difficulty Level OR Exhibitor Questions can be selected.

That means, if user selects anything from QuestionType or Category or Difficulty Level dropdown, Exhibitor Questions dropdown should be resetted to --SELECT ONE-- and vice versa

[2016-08-16 04:30] krishnandusarkar commented on #36
It's still appearing on below pages.

update_category.php

update_difficulty.php

update_category_sponsors.php

Update Questions is broken. Testing blocked.

[2016-08-16 04:31] krishnandusarkar commented on #32
Working Fine.

[2016-08-16 04:31] #32 closed

[2016-08-16 04:32] krishnandusarkar commented on #20
Working Fine.

[2016-08-16 04:32] #20 closed

[2016-08-16 04:32] krishnandusarkar commented on #3
Removing From Issues List.

[2016-08-16 04:32] #3 closed

[2016-08-16 04:34] krishnandusarkar commented on #13
On Team Creation it's throwing 500 Error from functions.php. Testing Blocked.

[2016-08-16 04:37] krishnandusarkar commented on #14
Not Working For Below Pages

update_team_member.php

update_assignment.php - Here only Cancel button is needed. As editing is limited here to Unassign.

update_booth.php

update_questions.php is broken. Throwing 500 Error. Testing Blocked.

[2016-08-16 04:38] krishnandusarkar commented on #15
Working Fine.

[2016-08-16 04:38] #15 closed

[2016-08-16 04:42] krishnandusarkar commented on #16
From Edit Pages it still reads "Pre Race Check In"

[2016-08-16 04:42] krishnandusarkar commented on #17
Check In functionality not working. Throwing 500 Error in functions.php

[2016-08-16 04:43] krishnandusarkar commented on #18
Working Fine.

[2016-08-16 04:43] #18 closed

[2016-08-16 04:48] krishnandusarkar opened #41 "Race Configuration Update Broken"
Unable to update Race Configuration (app_settings.php)

[2016-08-16 04:49] krishnandusarkar commented on #39
This one is already mentioned under #34

[2016-08-16 04:50] krishnandusarkar commented on #33
Testing Blocked due to #41

[2016-08-16 05:08] krishnandusarkar opened #42 "Ability to upload/change the SPE logo in race control the one above menu"

[2016-08-16 05:12] krishnandusarkar opened #43 ""Enter an integer number from 1 to 100" Footnote under Hint Penalty Points"
Page : Difficulty Level Creation (difficulty.php)

[2016-08-16 05:15] krishnandusarkar opened #44 "Import Questions From Excel"
Ability to import questions and answers from Excel Sheet needs to be incorporated.

We need to work out with a pre-formatted excel which can be downloaded (blank excel with headers) from the page and then user can fill it up and upload.

**Needs further discussion**

[2016-08-16 05:17] krishnandusarkar opened #45 "Race Profiling"
We need to save race data (everything) attached the a particular race and functionality to create new race.

Only one race at a point of time can be activated and the same will be synced to Android and iOS.

**Needs table change and further discussion**

[2016-08-16 05:20] krishnandusarkar opened #46 "Footnote for Text Questions"
On Question Creation, when selecting Text under Question Type, the Answer Options Text Box and a Add button below it should be followed by a footnote saying "Enter all words that are valid answers by clicking Add Button such as :  Inline, Online, In line, On line, In-Line, In-line, On-Line, On-line, etc."

[2016-08-16 05:24] krishnandusarkar commented on #35
Sorry, the above statement is wrong. Leave it as it is as of now. Closing the issue

[2016-08-16 05:24] #35 closed

[2016-08-16 05:28] krishnandusarkar opened #47 "Ability To Upload / Download Splash Screen"
@debasishbanerjee On #45 we need to provide upload of Splash Screen for the particular race.

@AmitabhaSaha @snowbreeze You need to remove the static splash screen and the same needs to be configurable via synced content.

[2016-08-16 05:39] krishnandusarkar opened #48 "Categorize Race Setup Options"
- General Set Up (Maximum Number Of Stations, Number Of Categories Of Questions, Number Of Categories Displayed In The APP, Number Of Difficulty Levels, Number Of Questions Per Difficulty Level)
- Multiple Choice Questions (Multiple Choice Questions, Multiple Choice Embedded Image, Multiple Choice Answer Options, Multiple Choice Hint Enable)
- Text String Questions (Text String Questions Enable, T

[2016-08-16 07:27] debasishbanerjee commented on #14
Done

[2016-08-16 08:14] debasishbanerjee commented on #34
Done.
Test all the above issues and update.

[2016-08-16 08:19] debasishbanerjee commented on #36
Done

[2016-08-16 08:31] debasishbanerjee commented on #13
Done.
Test again and update

[2016-08-16 08:54] debasishbanerjee commented on #16
Done

[2016-08-16 09:37] debasishbanerjee commented on #43
Done

[2016-08-16 09:43] debasishbanerjee commented on #17
Done
Test & Close

[2016-08-16 09:56] debasishbanerjee commented on #41
Test & Close

[2016-08-16 10:16] debasishbanerjee commented on #39
Done

[2016-08-16 13:21] debasishbanerjee commented on #42
Done

[2016-08-17 03:54] krishnandusarkar commented on #13
Even though the team gets created successfully, but the message reads "Oops Something Went Wrong."

Reopening.

[2016-08-17 04:11] krishnandusarkar commented on #13
Team Number is still there in Update.

[2016-08-17 07:11] debasishbanerjee commented on #13
Done.Test and Update

[2016-08-17 07:47] debasishbanerjee commented on #40
Implemented

[2016-08-17 08:13] debasishbanerjee commented on #46
Done

[2016-08-17 12:33] snowbreeze commented on #42
@krishnandusarkar i thnk in server, php file cant overwrite the file, some permission issue

[2016-08-17 13:14] snowbreeze commented on #42
@krishnandusarkar need to check if php has permission to modify file.

[2016-08-17 13:14] snowbreeze commented on #42
This is working locally but not on server

[2016-08-18 07:14] debasishbanerjee commented on #48
Done

[2016-08-21 06:50] krishnandusarkar commented on #13
Working Fine,

[2016-08-21 06:50] #13 closed

[2016-08-21 07:13] krishnandusarkar commented on #14
Working Fine.

[2016-08-21 07:13] #14 closed

[2016-08-21 07:13] krishnandusarkar commented on #16
Working Fine.

[2016-08-21 07:13] #16 closed

[2016-08-21 07:14] krishnandusarkar commented on #17
Working Fine.

[2016-08-21 07:14] #17 closed

[2016-08-21 07:14] krishnandusarkar commented on #34
Working Fine.

[2016-08-21 07:14] #34 closed

[2016-08-21 07:15] krishnandusarkar commented on #39
Working Fine.

[2016-08-21 07:15] #39 closed

[2016-08-21 07:15] krishnandusarkar commented on #43
Working Fine.

[2016-08-21 07:15] #43 closed

[2016-08-21 07:16] krishnandusarkar commented on #48
Working Fine.

[2016-08-21 07:16] #48 closed

[2016-08-21 07:16] krishnandusarkar commented on #36
Working Fine.

[2016-08-21 07:16] #36 closed

[2016-08-21 07:20] krishnandusarkar commented on #42
@snowbreeze @debasishbanerjee Now I don't see any error, but I also don't see the updated logo. Is this still a issue on server end?

[2016-08-21 08:23] krishnandusarkar commented on #41
Updating App Settings throwing Error 500.

[2016-08-21 08:25] krishnandusarkar commented on #46
Fine on Question Creation. Can't test on Edit as Question Edit is throwing Error 500.

[2016-08-21 08:52] krishnandusarkar commented on #33
Video Questions Upload on Question Creation is working fine. Couldn't test it in Update as Questions Update is throwing Error 500.

[2016-08-24 09:46] krishnandusarkar opened #49 "Create AppSettings with RaceID"
When a race is created all the AppSettings should be populated automatically with default values with the RaceID in context.

The same should be deleted when deleting a race.

[2016-08-24 09:59] debasishbanerjee commented on #49
Done

[2016-08-24 10:14] krishnandusarkar opened #50 "AppSettings Validation With RaceID"
Currently we have various validation according to the AppSettings. The same should be now done with the RaceID in context.

Some examples are but not limited to...
1. Creation of Booth / Exhibitor
2. Creation of Categories
3. Creation of Difficulty Level
4. Choice of Text / Multiple Choice Questions and Bonus/Exhibitor Questions
5. Choice of Image Based Questions and Bonus/Exhibitor Questions
6. N

[2016-08-24 10:16] debasishbanerjee commented on #50
Done.Test and Update

[2016-08-24 10:17] krishnandusarkar opened #51 "Race Screen"
1. Provide a button to Active/Deactivate a race.
2. Activation and Deactivation should be done with a confirmation message from user.
3. On Activation of a particular race, all other active race should be deactivated i.e. at a single point of time only one race can be in active state.
4. Rename Splash Screen label to Entry Screen on Creation and Updation UI.

[2016-08-24 10:19] krishnandusarkar opened #52 "Creation and Selection Based On RaceID"
On each and every Page, according to the table (in server), the creation and selection of data should be  based on the selected RaceID in context.

[2016-08-25 04:04] krishnandusarkar opened #53 "Creation and Deletion of Race Broken"
Cannot Create Race it's throwing Error 500

Race Deletion not working

[2016-08-25 04:04] krishnandusarkar commented on #49
Testing blocked due to #53

[2016-08-25 05:35] krishnandusarkar opened #54 "Dynamic Race Rules and Entry Screen"
1. A new screen should be introduced between Splash Screen and Home Screen such that the transition will now become Splash Screen (next) > Entry Screen (next) > Home Screen.

2. Create a new table named Race as per the notation below

[code]

At a point of time only one race will be present in this table in Mobile DB which would be active.

3. The Entry Screen to be designed same as like in Splash

[2016-08-26 11:31] debasishbanerjee commented on #52
Done

[2016-08-27 06:34] snowbreeze commented on #6
Done test

[2016-08-27 06:37] snowbreeze commented on #8
done test

[2016-08-27 06:39] snowbreeze commented on #10
Done test

[2016-08-27 06:39] snowbreeze commented on #12
Done test

[2016-08-27 06:40] snowbreeze commented on #28
Done test

[2016-08-27 06:43] snowbreeze commented on #29
This is already home

[2016-08-27 08:36] debasishbanerjee commented on #51
Done

[2016-08-27 08:36] debasishbanerjee commented on #53
Done

[2016-08-29 02:12] krishnandusarkar opened #55 "Video Questions - Video Not Playing / Showing In Update Questions"
Under Update Questions, Video is not showing /playing

[2016-08-29 15:34] snowbreeze commented on #54
Done

[2016-08-29 15:35] snowbreeze commented on #47
This is done by entry screen concept

[2016-08-29 16:21] snowbreeze commented on #55
done

[2016-08-29 17:43] krishnandusarkar opened #56 "Race Excel Upload - New Column & Modified Logic For Text Questions"
1. On the excel they have given they will add a new column on L named "Picture / Video" where they will mark it as P OR V. So on getting P or V you have to mark that question as Picture or Video question and show it in summary so that they can later identify the row and upload the associated Picture or Video separately.

BTW they have praised the summary you came up with. :)

2. As I already said,

[2016-08-29 17:44] krishnandusarkar opened #57 "Export To Excel for Race Statistics"
They want excel export option for race statistics as the same will be deleted once the race is deactivated. So they want it to keep the same as future reference.

[2016-08-30 12:07] snowbreeze commented on #56
3. done

[2016-08-30 12:08] snowbreeze commented on #56
@krishnandusarkar How to do 1 ?  @debasishbanerjee do last one

[2016-08-30 12:09] snowbreeze commented on #57
@debasishbanerjee @trijitdey  datatable to csv add here

[2016-08-31 13:01] debasishbanerjee commented on #57
Done

[2016-08-31 13:01] debasishbanerjee commented on #56
Done

[2016-09-03 06:09] krishnandusarkar commented on #12
Working Fine

[2016-09-03 06:09] #12 closed

[2016-09-03 06:11] krishnandusarkar commented on #28
Working Fine. Closing.

[2016-09-03 06:11] #28 closed

[2016-09-03 06:11] krishnandusarkar commented on #29
Working Fine. Closing.

[2016-09-03 06:11] #29 closed

[2016-09-03 06:13] krishnandusarkar commented on #33
Working Fine.

[2016-09-03 06:13] #33 closed

[2016-09-03 06:13] krishnandusarkar commented on #41
Working Fine.

[2016-09-03 06:13] #41 closed

[2016-09-03 06:13] krishnandusarkar commented on #42
Working Fine.

[2016-09-03 06:13] #42 closed

[2016-09-03 06:14] krishnandusarkar commented on #44
Working Fine.

[2016-09-03 06:14] #44 closed

[2016-09-03 06:14] krishnandusarkar commented on #45
Working Fine.

[2016-09-03 06:14] #45 closed

[2016-09-03 06:14] krishnandusarkar commented on #46
Working Fine.

[2016-09-03 06:14] #46 closed

[2016-09-03 06:15] krishnandusarkar commented on #49
Working Fine.

[2016-09-03 06:15] #49 closed

[2016-09-03 06:15] krishnandusarkar commented on #50
Working Fine.

[2016-09-03 06:15] #50 closed

[2016-09-03 06:15] krishnandusarkar commented on #51
Working Fine.

[2016-09-03 06:15] #51 closed

[2016-09-03 06:15] krishnandusarkar commented on #52
Working Fine.

[2016-09-03 06:15] #52 closed

[2016-09-03 06:15] krishnandusarkar commented on #53
Working Fine.

[2016-09-03 06:15] #53 closed

[2016-09-03 06:47] krishnandusarkar commented on #6
Working Fine.

[2016-09-03 06:47] #6 closed

[2016-09-03 06:48] krishnandusarkar commented on #8
Working Fine.

[2016-09-03 06:48] #8 closed

[2016-09-03 06:48] krishnandusarkar commented on #10
Working Fine.

[2016-09-03 06:48] #10 closed

[2016-09-03 17:04] #4 closed

[2016-09-03 17:04] #5 closed

[2016-09-03 17:04] #7 closed

[2016-09-03 17:04] #9 closed

[2016-09-03 17:04] #11 closed

[2016-09-03 17:04] #26 closed

[2016-09-03 17:04] #27 closed

[2016-09-03 17:04] #30 closed

[2016-09-03 17:04] #31 closed

[2016-09-03 17:04] #40 closed

[2016-09-03 17:04] #47 closed

[2016-09-03 17:04] #54 closed

[2016-09-03 17:04] #55 closed

[2016-09-03 17:04] #56 closed

[2016-09-03 17:04] #57 closed

[2016-09-17 17:11] JaimeGomezSPE opened #58 "Test"
This is a test

[2016-09-17 17:11] krishnandusarkar commented on #58
Test Issue Solved.

[2016-09-17 17:11] #58 closed

[2016-09-17 17:14] krishnandusarkar opened #59 "A URL Option To Change Race"
A option is needed beside Logout button to change race. As there's right now no way to go back to the Race page other than logging out and logging in.

[2016-09-17 17:18] krishnandusarkar opened #60 "Ability To Batch Upload Participants"

[2016-09-17 17:20] krishnandusarkar opened #61 "Ability To Batch Upload Exhibitors"

[2016-09-17 17:26] krishnandusarkar opened #62 "Update button colour is not changing after updating for Race Start and Race End"
Update button colour is not changing to light green (as like other update buttons above) after updating Race Start and Race End

[2016-09-17 17:30] krishnandusarkar opened #63 "Category In Alphabetical Order in Questions Creation Screen"
Please show the categories in dropdown in alphabetical order in questions creation screen

[2016-09-17 17:31] krishnandusarkar opened #64 "Exhibitor In Alphabetical Order in Questions Creation Screen"
Please show the exhibitor in dropdown in alphabetical order in questions creation screen

[2016-09-17 17:32] krishnandusarkar opened #65 "Video File Size text in one line in Questions Creation Screen"

[2016-09-17 17:36] krishnandusarkar opened #66 "Remove 2014 from Copyright Text"

[2016-09-17 17:39] krishnandusarkar opened #67 "In Questions Summary Breakdown The Count"
In questions summary breakdown the count in two portions..
Number of Questions (Count of Normal Questions)
Number of Bonus Questions (Count of Exhibitor Questions)

[2016-09-17 17:41] krishnandusarkar opened #68 "Entry Screen Image is showing distorted"

[2016-09-17 17:42] krishnandusarkar commented on #68
![whatsapp image 2016-09-17 at 11 11 13 pm](https://cloud.githubusercontent.com/assets/3623328/18609946/39266fe0-7d2c-11e6-8cce-c58b31cda154.jpeg)

[2016-09-17 17:45] krishnandusarkar commented on #68
Wrong Issue. The image is of landscape. No change is needed.

[2016-09-17 17:45] #68 closed

[2016-09-17 17:51] krishnandusarkar opened #69 "Change Background and Header Logo in Mobile App"

[2016-09-18 01:34] JaimeGomezSPE opened #70 "Adding an answer to a question"
In CHARACTERIZATION, EASY in the question "In tensile testing......"
I was trying to add an additional answer to the ones that were buck uploaded:
I typed:  'youngs modulus' and when pressing UPDATE, I received the following message:

error: Call to a member function execute() on a non-object in /var/www/html/v2/functions.php on line 2517

[2016-09-18 02:49] JaimeGomezSPE opened #71 "Exhibitor Summary"
The field for the Web Site is too large.  This makes the field for Exhibitor Profile too small and the email of the contact person not show up at all (unless one presses the + button.

Furthermore, the EDIT function button appears under the email name....not so 'elegant' and not easy to find...unless one knows what one is doing.

[2016-09-18 02:50] JaimeGomezSPE opened #72 "Scan of QR codes is successful....but....."
When scanning a QR code, I received the message: "Scanning successful", but immediately an error message that reads:  "This Booth is not present in this game".  I will send you the QR codes I generated.....

[2016-09-18 13:48] JaimeGomezSPE opened #73 "Can't find the right URL URGENT"
When entering:  http://104.130.173.137/v2/race.php, it changes automatically to:  http://104.130.173.137/v2/index.php

and I receive the following message:
The requested URL /v2/index.php was not found on this server.

[2016-09-18 14:43] krishnandusarkar commented on #73
Working fine as discussed in WhatsApp

[2016-09-18 14:43] #73 closed

[2016-09-18 16:05] krishnandusarkar commented on #72
QR Codes were generated wrongly.

[2016-09-18 16:05] #72 closed

[2016-09-19 13:49] JaimeGomezSPE opened #74 "Alignment Category Title with categories"
I will be sending you a photo via WhatsApp for this issue.  See "Category" how it is offset to the left of the categories names!
The same occurs with the numbers and the circles....a little bit to the left.

[2016-09-19 15:08] krishnandusarkar commented on #62
Working Fine. Closing.

[2016-09-19 15:08] #62 closed

[2016-09-19 15:08] krishnandusarkar commented on #63
Working Fine. Closing.

[2016-09-19 15:08] #63 closed

[2016-09-19 15:08] krishnandusarkar commented on #64
Working Fine. Closing.

[2016-09-19 15:08] #64 closed

[2016-09-19 15:09] krishnandusarkar commented on #65
Working Fine. Closing.

[2016-09-19 15:09] #65 closed

[2016-09-19 15:13] krishnandusarkar commented on #70
@debasishbanerjee Can you please check this in urgent basis?

[2016-09-19 15:18] krishnandusarkar commented on #74
@AmitabhaSaha Can you please. Below is the screenshot for your reference.

![img_9978](https://cloud.githubusercontent.com/assets/3623328/18637535/65a67216-7eaa-11e6-8f0a-acd9ad2b0edc.PNG)
 fix this?

[2016-09-19 17:16] JaimeGomezSPE opened #75 "Alternative text chopped off"
Please direct your attention to question:  Polymer Science/Difficult that reads .....Which of the following statements is true?

The text for the alternative answer:  "In condensation polymerization......." is chopped off.  I am sending a picture via Whatsapp

[2016-09-19 17:18] JaimeGomezSPE commented on #75
If the number of characters for the alternative answers is limited, then when entering then when entering the answers, the field should show that this limit has been reached.  However, I see a problem when uploading the answers in bulk.  A solution is to expand the field by about 100 more characters?  Your thoughts?

[2016-09-19 17:24] JaimeGomezSPE opened #76 "Please locate a new QR Code"
After successfully entering an answer, the screen displays the "Thank You!  Please locate a new QR code.

Two things:

First, can we separate the text so it shows up like this: (2 lines)

Thank You!
Please locate a new QR code

Second, the screen is sending you HOME.  Only alternative to enter.....and when you enter HOME, you are sent to the HOME SCREEN where it is not intuitive where to click for

[2016-09-19 19:03] JaimeGomezSPE opened #77 "Booth not present in this game!"
I scanned the same code with my iPhone 6 and my iPhone 5.  No problem with the 6.  However, with the 5, I received the following message:  "This Booth is not present in this game"???

[2016-09-19 20:29] JaimeGomezSPE commented on #77
This happens with several booths ALL the S1 to S10 booths, but it did not happen with my iPhone 6???

[2016-09-19 20:44] JaimeGomezSPE opened #78 "Not enough randomness"
Perhaps not urgent for this race, but needs to be considered going forward as an 'improvement'.

I scanned the same QR code with my two phones.  Of the 4 categories, 2 were common.  So, I selected the same category and same difficulty level.  Of the 5 possible questions, I got exactly the same question in each phone.  Coincidence?  Then....of the 5 alternative answers, they were listed in both pho

[2016-09-19 20:49] JaimeGomezSPE opened #79 "Alternative text chopped off case 2"
This one is much shorter....and yet, it is cut off.

Please refer to ADDITIVES 8 points questions that reads...

With respect to Plasticization......"

Please notice that one of the answers is chopped off.  "the Tg of a plasti....."  and the word is cut off.

[2016-09-19 20:59] JaimeGomezSPE opened #80 "Inconsistency in HINTS"
I scanned the same QR code with both phones simultaneously.  I selected the same category and difficulty level in both (Applications 10 points).

The question I received was the same!  Which is not a known use of implantable PEEK........

HOWEVER.  In the spreadsheet we generated, we used the field for the INCORRECT 4 as the alternative that will be grayed out when selecting a HINT.

Incorrect 4
F

[2016-09-19 21:06] JaimeGomezSPE opened #81 "Common Mistake! CRITICAL"
I scanned a code.....as I was reading the question, the APP crashed and closed.  I had to open it again (no sign in required)....but when I went to scan the code again to retrieve the question, I get the message that "This booth has already been scanned".

I think we need to place a safegard that the booth is counted ONLY when the question is submitted and not when the QR code is read.....so we av

[2016-09-19 21:09] JaimeGomezSPE opened #82 "iPhone 5 does not read the CX1 to CX10 booths!"
The booth are in the backend and they are read ok by my iPhone 6.....when cant the iPhone 5?  The message says "This booth is not present in this game"

[2016-09-21 01:09] JaimeGomezSPE opened #83 "Results Statistics"
The column FIRST NAME is not needed as it is a repetition of the first column TEAM NAME.  Please eliminate this column from the results view

[2016-09-21 08:02] JaimeGomezSPE opened #84 "Exhibitor Logos"
All exhibitor logos do not fit in the field provided.  They all get chopped off.  We need to increase the field to make sure the logos fit almost side to side.

[2016-09-21 08:05] JaimeGomezSPE opened #85 "Exhibitor Profile"
The current LOOK & FEEL is poor.  The Exhibitor Profile title does not look elegant.  The title, name of company and url are not centered.

More space should be left out for the logo and the text should be move 'south' (down) a bit more.

For example:

Exhibitor Profile

 Myers Mixers

http://myersmixers.com

Should look like:

                                  Exhibitor Profile

[2016-09-21 08:22] JaimeGomezSPE commented on #85
Also, the name of the company should be BOLD and larger font

[2016-09-21 10:26] JaimeGomezSPE opened #86 "Event Screen"
The Screen where the "2" is at the moment.  We need to change it to accommodate the EVENT SCREEN.  However, there is a limitation on the width of the logo.  This does not allow us to use the company's logo without being chopped off.

I will send you an email with the screen layout of the EVENT SCREEN

[2016-09-21 10:36] JaimeGomezSPE opened #87 "Hint does not show up well"
Polymer Science 10 pts that reads:  Consider the following capillary rheometry........

On an iPhone 6, the screen looks bad.  The HINT looks too small and one cannot read it well because if moves to a second line.

Two adjustable screens (one for the question and one for the hint makes it confusing).

We need to redesign how we present the questions.  After the race we need to discuss this, but f

[2016-09-21 10:40] JaimeGomezSPE opened #88 "Randomness???"
I am running the race as 'Liz'.  I just scanned 3 codes and in all 3 I received the following categories:

Polymer Science
Applications
Processing
Additives

in exactly the same order!!!

If we are using a random generator, the above is impossible.  Could you please check?

[2016-09-21 10:43] JaimeGomezSPE opened #89 "HINT LOCATION"
Hints are showing up between the blue bar HINT and the blue bar SUBMIT.  This is not the best location.  The text is too small.  HINT should show up at the top of the HINT blue bar and in larger font.

Eliminate the word 'text' from HINT TEXT.  Use just Hint: xxxxxxxx  to gain some space

[2016-09-21 10:46] JaimeGomezSPE opened #90 "Race Summary"
Change 'Entry Screen' for 'Event Screen'

[2016-09-21 10:47] JaimeGomezSPE opened #91 "Event or Entry Screen not changing!!"
I loaded a new logo in the Entry/Event screen, yet in the APP is not showing up!!  Even after all night!!

[2016-09-21 10:52] JaimeGomezSPE opened #92 "Backoffice and/or App not refreshing??"
I have made several changes in the back office that do not reflect in the APP even after more than 24 hours!

For example:  To the Characterization Question - Difficult that reads:  "Chemical resistence tests of ....."
I changed:  All of the above for All of these.  Yet, in the APP, 'All of the Above" still shows.

[2016-09-21 13:17] JaimeGomezSPE opened #93 "Attempting to upload a logo for Reichhold"
OK Fatal error: Call to a member function execute() on a non-object in /var/www/html/v2/functions.php on line 2929

[2016-09-21 17:52] krishnandusarkar commented on #75
![2016-09-20-photo-00000183](https://cloud.githubusercontent.com/assets/3623328/18722355/2c4bcf6c-8052-11e6-89a3-b20076499df6.jpg)

@AmitabhaSaha Take care of this issue.

[2016-09-21 17:54] krishnandusarkar commented on #76
@JaimeGomezSPE Marking it for v3 as it'd need good amount of programming change.

[2016-09-21 17:55] krishnandusarkar commented on #77
@JaimeGomezSPE That might be because of the data didn't synced properly?

Can you please retest and let me know if you can reproduce this issue frequently?

[2016-09-21 17:56] krishnandusarkar commented on #79
@JaimeGomezSPE Yes we'll fix it up while fixing #75

[2016-09-21 17:58] krishnandusarkar commented on #80
@JaimeGomezSPE I think, when we developed v1, we used to grey out incorrect answers randomly.

Marking it for v3 if you really want to implement this.

[2016-09-21 17:59] krishnandusarkar commented on #81
@JaimeGomezSPE Yes the app has been developed to record the booth visit even if user doesn't answers the question.

If you want it that way, how are you planning to handle user force closing the app?

Let's discuss and fix it in v3.

[2016-09-21 18:00] krishnandusarkar commented on #82
@JaimeGomezSPE I believe this is a sync issue. Same as like #77

[2016-09-21 18:01] krishnandusarkar commented on #83
@debasishbanerjee Can you please take off the FirstName from the SELECT list?

[2016-09-21 18:03] krishnandusarkar commented on #86
Taking care over email

[2016-09-21 18:05] krishnandusarkar commented on #88
@AmitabhaSaha Are we generating Categories, Questions and Answers in Random order right?

Looks same issue as like #78

[2016-09-21 18:07] krishnandusarkar commented on #90
@debasishbanerjee Can you please change that text in Race Insert and Race Update Screen?

Also in the Race Summary Grid?

[2016-09-21 18:08] krishnandusarkar commented on #91
@JaimeGomezSPE You need to kill the app and restart which will force sync.

Also sync is only done in background when the app is running. This is occurring because of limitations of running background sync when the app is not in foreground with iOS.

[2016-09-21 18:10] krishnandusarkar commented on #91
Keeping it under v3 to check out other possibilities

[2016-09-21 18:11] krishnandusarkar commented on #92
Looks same as #91

[2016-09-21 18:12] krishnandusarkar commented on #93
@debasishbanerjee Can you please check? He is probably trying to upload Category Sponsor logo

@JaimeGomezSPE Can you please confirm whether you got this error while uploading logo in Category Sponsor screen?

[2016-09-22 06:45] JaimeGomezSPE opened #94 "HINT Message"
Perhaps the best thing to do is to eliminate the message that appears between the two blue blocks at the bottom of the screen and that reads:  "Press to eliminate one choice"

The box itself called HINT (-X points) should be enough.  How about we make it look like a real button?  We can address this in the design of the pages with Liz for Version 3

[2016-09-22 10:43] debasishbanerjee commented on #83
Done

[2016-09-22 10:48] debasishbanerjee commented on #70
Done

[2016-09-22 10:49] debasishbanerjee commented on #90
Done

[2016-09-22 10:50] debasishbanerjee commented on #66
Done

[2016-09-22 15:19] JaimeGomezSPE opened #95 "APP Collapses"
Occurs in both iPhone 5 and 6 several times.

For no reason at all, the APP collapses.  Typically it occurs AFTER a QR code has been scanned and one is confronting the alternatives (multiple choice) and trying to decide how to answer.  Suddenly, the APP collapses.  Upon re-initiation, if one tries to scan the QR code again, it gets a message of "QR Code already scanned" therefore forcing the team

[2016-09-22 15:20] JaimeGomezSPE opened #96 "Event Screen Image Capacity"
We need to increase the capacity of the Event Screen from 500Kb to 3000Kb.  Is this possible?

[2016-09-22 16:03] JaimeGomezSPE opened #97 "Chopping Off text"
I am sending two screens where the text has been cut off

1.  Name of Category.  In this case, the category's name is:  Color and Appearance
2.  Question.  Polymer Science Difficult.  Question that begins:  In condensation polymerization.......

The issue with 2. Question is bad because if the participant cannot read the entire question...how is he going to answer it?

[2016-09-22 16:11] krishnandusarkar commented on #96
@debasishbanerjee Can this be done easily?

[2016-09-22 16:12] krishnandusarkar commented on #97
![2016-09-22-photo-00000195](https://cloud.githubusercontent.com/assets/3623328/18756384/60209a00-810d-11e6-8f16-955578528349.jpg)

![2016-09-22-photo-00000196](https://cloud.githubusercontent.com/assets/3623328/18756390/66864d22-810d-11e6-9830-a9b6006a84a1.jpg)

[2016-09-22 18:22] AmitabhaSaha commented on #88
yes we are populating categories in completely random order.

[2016-09-22 18:25] AmitabhaSaha commented on #97
Both the issues fixed and checked in iPhone 4s - iPhone 5 and iPhone 6.

Now no answers are chopping off. I have checked with multiple devices and alignment issue also resolved.

[2016-09-22 18:25] AmitabhaSaha commented on #97
- DONE

[2016-09-22 18:26] AmitabhaSaha commented on #95
- NEVER ENCOUNTERED THIS PROBLEM

[2016-09-22 18:26] AmitabhaSaha commented on #89
- DONE

[2016-09-22 18:26] AmitabhaSaha commented on #79
- DONE

[2016-09-22 18:27] AmitabhaSaha commented on #75
- DONE

[2016-09-22 18:27] AmitabhaSaha commented on #74
- DONE

[2016-09-22 18:29] krishnandusarkar commented on #87
Same as #89

[2016-09-22 21:29] JaimeGomezSPE commented on #97
Great Thanks!!

On Thu, Sep 22, 2016 at 2:25 PM, AmitabhaSaha <notifications@github.com>
wrote:

[2016-09-23 16:00] krishnandusarkar commented on #66
Working Fine. Closing.

[2016-09-23 16:00] #66 closed

[2016-09-23 16:00] #70 closed

[2016-09-23 17:57] krishnandusarkar commented on #83
Working Fine. Closing.

[2016-09-23 17:57] #83 closed

[2016-09-24 01:08] JaimeGomezSPE opened #98 "APP crashed"
iPhone 5.  Scanning Hexcel Corporation QR Code.  Category of question screened came up and immediately the APP shutdown.  Upon re-starting, it does not allow to re-read the QR Code saying that it has been read already.

[2016-09-24 01:12] JaimeGomezSPE opened #99 "Equation shows up funny"
Miscellaneous Equation Difficult that reads:  "A wide, thin sheet of glassy plastic......"
Please see picture I sent.  The equation is not showing up neatly: white background, black letters.  The inverse is showing and is distorted.  Reason?

[2016-09-24 01:17] JaimeGomezSPE opened #100 "Inverse of Graphics?? CRITICAL"
See picture I just sent. For Additives Difficult that reads:  "You are looking at a graphic that....."
It seems that all pictures I am uploading are showing up the reverse.  It is impossible to read the numbers from the graphic in the APP, so we need to resolve this issue by having clearer instructions of what type of graphics can be uploaded.  This issue is critical as many questions will fail to

[2016-09-24 01:31] JaimeGomezSPE opened #101 "HINT & SUBMIT on the same row"
I think we can solve the problem with the hint not showing up well is we locate the two buttons for HINT and SUBMIT at the level where the SUBMIT button is now.  HINT to the left, SUBMIT to the right.  Upon pressing HINT, the hint will show up on top of these two buttons in a fixed FIELD (not scrollable).

Your thoughts?  Can it be implemented for this race?  Or for V3?

[2016-09-24 01:44] JaimeGomezSPE opened #102 "Sample Questions"
I would like to see the font size increased in this particular screen.

Also, I would like to see 2 buttons at the bottom (where HOME is) in one line as follows:

HOME     HINT

This arrangement will allow us to utilize the real estate above 'Home' much better

[2016-09-24 02:35] JaimeGomezSPE opened #103 "Questions Summary - Exhibitor Name"
When selecting a particular exhibitor under Questions Summary (for example ACMA) to check for the Question Text and options, upon clicking the '+' button to reveal EDIT, and clicking EDIT, once cannot see if a file has been previously selected for Image or Video.  It shows none, even though, I know the logo for ACMA has previously been uploaded.

[2016-09-24 04:47] krishnandusarkar commented on #98
@AmitabhaSaha Can you please check why it's failing? Or are you able to reproduce the issue?

[2016-09-24 04:49] krishnandusarkar commented on #99
![2016-09-24-photo-00000207](https://cloud.githubusercontent.com/assets/3623328/18806163/62570302-8240-11e6-8ce9-604e6bd95dc0.jpg)

[2016-09-24 04:51] krishnandusarkar commented on #100
![2016-09-24-photo-00000209](https://cloud.githubusercontent.com/assets/3623328/18806173/a04eae62-8240-11e6-9156-ea78cf6537ac.jpg)

[2016-09-24 04:53] krishnandusarkar commented on #101
![2016-09-24-photo-00000211](https://cloud.githubusercontent.com/assets/3623328/18806184/edcaa0ec-8240-11e6-87bd-4156c8e4472a.jpg)

[2016-09-24 05:09] krishnandusarkar commented on #103
@JaimeGomezSPE I'm able to see it. Is there any problem on your end?

![image](https://cloud.githubusercontent.com/assets/3623328/18806227/208745ba-8243-11e6-8764-40a3dba4fbf4.png)

[2016-09-24 05:40] AmitabhaSaha commented on #99
This is an image only, So @krishnandusarkar check it on backend side, cause I hope others image questions are appearing correctly.

[2016-09-24 05:46] krishnandusarkar commented on #99
@AmitabhaSaha That's why I'm a bit curious. As it's just a image question. On server side we see

![image](https://cloud.githubusercontent.com/assets/3623328/18806377/53bfd8de-8248-11e6-875a-b337d65cd67d.png)

Any idea what's going wrong?

[2016-09-24 05:47] krishnandusarkar commented on #99
@AmitabhaSaha BTW, Yes they have not reported any issue with other image questions.

[2016-09-24 05:48] snowbreeze commented on #100
Is this due to transparency? in that case use white background

[2016-09-24 05:50] snowbreeze commented on #96
Yes. But not recommended to put more than 1MB. @JaimeGomezSPE you can use tinypng.com
@krishnandusarkar I can update this to 1000KB

[2016-09-24 05:52] krishnandusarkar commented on #100
@AmitabhaSaha @snowbreeze On our end it looks like...

![image](https://cloud.githubusercontent.com/assets/3623328/18806403/ffa914ee-8248-11e6-8963-b4b3cbc640c2.png)

Seems something is going on with images. Similar to #99

[2016-09-24 05:53] snowbreeze commented on #100
@krishnandusarkar what about android

[2016-09-24 05:53] krishnandusarkar commented on #96
@snowbreeze Okay. Do not change anything. I'll take this up with Jaime on today's meeting.

[2016-09-24 05:54] krishnandusarkar commented on #100
@snowbreeze Not sure. They haven't reported anything with Android. I guess I'll check this up myself.

[2016-09-24 17:14] krishnandusarkar opened #104 "Company name needs to be in larger font in Exhibitor Profile"
Company name needs to be in larger font in Exhibitor Profile

[2016-09-24 17:15] krishnandusarkar opened #105 "Dimensions Should Be Mentioned on all Image Upload in Race Control"

[2016-09-24 17:16] krishnandusarkar commented on #105
On iOS and Android all image view should be resized automatically according to the image.

[2016-09-24 17:19] krishnandusarkar opened #106 "Company name and URL needs to be centered more and made bigger in size under Exhibitor Profile"

[2016-09-24 17:43] krishnandusarkar commented on #98
Similar to #95

[2016-09-24 17:49] krishnandusarkar commented on #82
Seems like Sync issue. Needs to be taken care in v3

[2016-09-24 17:50] krishnandusarkar commented on #77
Seems like Sync issue. Needs to be taken care in v3

[2016-09-24 18:08] krishnandusarkar commented on #88
For instance:   Question is this?  Answers are:  A, B, C, D, E.  But most of the time the correct answer is A.  So there is a way for people to pass on this information from one team to another.  What I want is that the answers be scrambled and show up as C, D, E, A, B one time and next time as D, B, A, C, E

[2016-09-24 18:10] krishnandusarkar commented on #88
For instance:   Question is this?  Answers are:  A, B, C, D, E.  But most of the time the correct answer is A.  So there is a way for people to pass on this information from one team to another.  What I want is that the answers be scrambled and show up as C, D, E, A, B one time and next time as D, B, A, C, E

[2016-09-25 00:28] JaimeGomezSPE opened #107 "Chromaflow Technologies - CRITICAL"
Upon scanning Chromaflow Technologies booth we received a message that the booth was not part of the game.

NOW....I just received a message that The Carbon Fibers is Currently Visiting BYK booth!!!!

This is NOT right.  You have transposed the QR code for Chromaflo to BYK.

NOW.....when attempting to read BYK booth I get the message "Booth already scanned".

[2016-09-25 00:49] JaimeGomezSPE opened #108 "Randomness of Answers - CRITICAL"
I ran the race and obtained 94.9% by just guessing the answers!  How?  I always chose the first radius button no matter what the question was!  I missed 5.1% because some of the questions were text based.   This proves the point, that we need to present the alternative answers in multiple choice questions at random....otherwise we run the risk that if someone catches wind that the first answer is

[2016-09-25 00:57] JaimeGomezSPE opened #109 "Editing Exhibitors Logos"
It seems that if one uploads a logo into an exhibitor profile, one can see that in Update Questions screen.  However, I have "changed" the logo for a couple of exhibitors and what happened was different.  It seems that the second logo was added to the screen and the first one was never deleted.  Please see pictures submitted.

In the case of HEXCEL, the logo shows up AFTER the text.  Not sure why.

[2016-09-25 01:32] JaimeGomezSPE commented on #109
I FOUND THE REASON FOR THE REDUNDANCY IN THE LOGOS.....

Check this out!

There are two sources for inputting logos!

1) The first one is during the EXHIBITOR CREATION.  If you go to UPDATE EXHIBITOR REGISTRATION, you will see a small icon of the logo that is currently in the profile.  Try this with ACMA

2) The second source is during QUESTION SETUP.  If you go to QUESTIONS SUMMARY and select ACM

[2016-09-25 01:33] JaimeGomezSPE commented on #109
Now...the question is:  How can I DELETE a logo.....there is currently no capability from doing it.

[2016-09-25 01:35] JaimeGomezSPE commented on #109
If this cannot be solved, quickly, then I will have to DELETE all the exhibitors and re-enter them.  But I don't want to do this because we could affect the QR codes.  So....please let me know that you can (at least) delete one of the logos.

In addition, I now understand why HEXCEL logo shows up in the middle of the page.  Because I never added the logo during the Exhibitor Creation!!

[2016-09-26 14:21] leeallanl opened #110 "Batch Upload for participants and exhibitors"
It would save time if we could upload a csv or a spreadsheet for the participants and exhibitors. Similar to the questions upload.

[2016-09-26 17:33] krishnandusarkar commented on #108
This cannot be changed as of now. I think this was there from the beginning since v1,

[2016-09-26 19:30] JaimeGomezSPE commented on #108
OK.  Let's add it to v3

With best regards,

Jaime A. Gómez, Ph.D
jaimeagomezj@gmail.com
Cel +1-609-352-0120

[2016-09-27 01:12] JaimeGomezSPE opened #111 "X-Ray pictures (after the race)"
We will need to correct the instructions in the back office to indicate that PNG is not an allowed format.

[2016-09-27 12:49] JaimeGomezSPE opened #112 "Security Glitch (Version 3)"
I was able to run the race with two phones registered to the same team!!  As such, the points collected by both phones were added up!  So the team ended up visiting 42 booths (only 33 possible) and lots of points.  Of course I can prevent this from happening by allowing only ONE phone per team to be active at any given time.  But...we need to think of how to prevent that by mistake, two phones are

[2016-09-28 15:58] JaimeGomezSPE opened #113 "Modification of Team Assignment Summary"
This screen should have the USERNAMES not the full names, so the organizers can see in ONE screen both the USERNAME and PASSWORD for all participants

[2016-09-28 16:01] JaimeGomezSPE opened #114 "USERID or USERNAME"
I know that for V1, we requested the USERID to be the sum of the first name and the last name.  This; however, proves to be quite bothersome when LOGIN IN because the participant has to enter many characters and the likelihood of making a mistake is too high.

I propose to change it to have the First name initial followed by the last name.  For example:

Krishnandu Sarkar = KSarkar
Jaime Gomez = J

[2016-09-28 20:11] JaimeGomezSPE opened #115 "Exhibitor List Color Change"
As participants go around scanning booths, it becomes more and more difficult to find QR codes.  We have an idea to improve the APP.  That is, when a QR code is scanned, the corresponding Exhibitor and Booth Number as it appears in the Exhibitor List should change from green/black to red or fade into light gray.

[2016-09-28 20:53] JaimeGomezSPE opened #116 "Pictures Zoom in Capabilities"
We received feedback that when a question is based on a picture, they would like to click on the picture and expand it (zoom in) just like you do in WhatsAPP.

[2016-10-10 17:58] JaimeGomezSPE opened #117 "Trying to set up a new race without deleting the old race...."
Can't make changes to the number of categories and/or difficulty levels....

I get the following messages:

You Must Delete 5 Of Categories. Please Go To Category Page And Delete Some Categories.
You Must Delete 1 Of Difficulties. Please Go To Difficulty Level Page And Delete Some Difficulties.

So, a couple of things.....

It seems that by setting up a new race, the system is using the parameters

[2016-10-10 18:24] JaimeGomezSPE opened #118 "Parameters carried over from previous race"
Similar to 117, when I tried to set up a brand new race called HCA,

Under 'Participants not Checked In', you will find a list of the participants of the previous race all checked in!  This list should not be there.